.navigation
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
}
.navigation ul
{
    display: flex;
    list-style: none;
    padding: 20px;
    gap: 23px;
    text-align: center;

}